@import "../../../../styles/variables.scss";

.card__wrapper {
  // margin-top: 7px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  box-shadow: $box-shadow;
  background-color: var(#{--components-background-default});
  border-radius: 0 0 20px 20px;
}
.card {
  display: flex;
  flex-direction: column;
  background: var(#{--card-background-default});
  border-radius: 10px;
  padding: 10px;
  width: 149px;
  transition: 0.3s;
  cursor: pointer;

  .this__day {
    margin-bottom: 7px;
  }
  .this__day,
  .this__day_maxTemp {
    font-size: 18px;
    font-weight: 500;
    color: var(#{--text-color-default});
  }
  .this__day_name {
    margin-bottom: 12px;
  }
  .this__day_name {
    font-size: 14px;
    color: $base-color;
  }
  .this__day_minTemp,
  .this__day_info {
    font-size: 13px;
    color: $base-color;
  }
  .this__day_minTemp {
    margin-bottom: 6px;
  }
  .this__day_info,
  .this__day_name {
    padding-bottom: 0;
  }
  .img {
    margin-bottom: 12px;
  }
  &:hover {
    box-shadow: var(#{--card-shadow-default});
  }
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 7px;
}
.tabs__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs__cancel,
.tab {
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  border-radius: 5px;
  padding: 9px 20px;
  background: var(#{--components-background-default});
  margin-right: 15px;
  color: var(#{--text-color-default});
  font-size: 18px;
  transition: 0.3s;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
  &:hover {
    box-shadow: var(#{--card-shadow-default});
  }
}

.tab {
  &.active {
    background: $primary-color;
    color: #fff;
  }
}
